.nav-item {
    margin: 40px;
    font-size: larger;
    font-style: italic;
    font-weight: 500;
    
}
.nav-item1 {
    margin: 40px;
    font-size: larger;
    font-style: solid;
    font-weight: 500;
    
}

